<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>Contentful Frontend Testing</title>
	<meta charset="utf-8">      
    <link rel="stylesheet" href="css/styles.css" title="External Style Sheet">
</head>

<body ng-controller="contentfulController">
	<div class="container">
        <h1>{{model.title}}</h1>

        <p>
            <div>
                    <h3>Contentful ID: <input type="text" class="form-control" ng-model="model.id"></h3>
                    Sample ID: 6lxixFbA642eCQOICiM0eI
            </div>
        </p>

        <p>
            <div>
                    <h3>Select the placement of your campaign from the list below.</h3>
                    Note: <strong>Let's Eat</strong> requires a logged-in user. Otherwise, you will be redirected to the homepage. 
                    <strong>Track Your Order</strong>, <strong>Order Receipt</strong>, and <strong>Thank You</strong> placement options are disabled until more information is provided on how they can be properly tested.
            </div>
        </p>

        <p>
            <div class="row">
                <div class="column">
                    <h3>Homepage</h3>
                    <div ng-repeat="placement in model.homepage">
                        <label><input type="checkbox" ng-model="checked" />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Let's Eat</h3>
                    <div ng-repeat="placement in model.letsEat">
                        <label><input type="checkbox" ng-model="checked" />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Search</h3>
                    <div ng-repeat="placement in model.search">
                        <label><input type="checkbox" ng-model="checked" />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Restaurant</h3>
                    <div ng-repeat="placement in model.restaurant">
                        <label><input type="checkbox" ng-model="checked" />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Order Status</h3>
                    <div ng-repeat="placement in model.orderStatus">
                        <label><input type="checkbox" ng-model="checked" disabled />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Order Receipt</h3>
                    <div ng-repeat="placement in model.orderReceipt">
                        <label><input type="checkbox" ng-model="checked" disabled />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
                <div class="column">
                    <h3>Thank You</h3>
                    <div ng-repeat="placement in model.thankYou">
                        <label><input type="checkbox" ng-model="checked" disabled />{{placement.name}}</label>
                        <a ng-show="checked" ng-href="{{placement.link}}{{model.id}}" target="_blank">Link</a>
                    </div>
                </div>
            </div>
        </p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="./app/app.js"></script>
	<script src="./app/contentfulController.js"></script>
</body>

</html>